<md-input-container class="md-block">
	<label>First Name</label>
	<input ng-model="vm.firstName">
</md-input-container>
<md-input-container class="md-block">
	<label>Last Name</label>
	<input ng-model="vm.lastName">
</md-input-container>
<md-input-container class="md-block">
	<label>User Name</label>
	<input ng-model="vm.username">
</md-input-container>
<md-input-container class="md-block">
	<label>Password</label>
	<input ng-model="vm.password" type="password">
</md-input-container>
<md-input-container class="md-block">
	<label>Confirm Password</label>
	<input ng-model="vm.password2" type="password">
</md-input-container>